<div class="search-card">

</div>
<mat-card class="news-card">
  <mat-card-header>
    <mat-card-title class="news-card-title"><a href={{nm.url}}
                                               class="news-card-title"
                                               target="_blank">
      {{nm.headline}}</a></mat-card-title>
    <mat-card-subtitle class="news-card-subtitle">Date: {{nm.datetime
      }}</mat-card-subtitle>
    <mat-card-subtitle class="news-card-subtitle"> Source: {{nm.source
      }}</mat-card-subtitle>
    <mat-card-subtitle class="news-card-text">
      {{nm.summary}}
    </mat-card-subtitle>
  </mat-card-header>
</mat-card>
