.stock-card {
  background: white;
}

.stock-card-text-center {
  color: #616161;
  font-size: 18px;
  text-align: center;
  word-break: break-all;
}

.stock-card-text-left {
  color: #616161;
  font-size: 18px;
  text-align: left;
  word-break: break-all;
}

.stock-card-text-right {
  color: #FF5722;
  font-size: 18px;
  text-align: right;
  word-break: break-all;
}

/* unvisited link */
.stock-card-link a:link {
  color: white;
}

/* visited link */
.stock-card-link a:visited {
  color: white
}

/* mouse over link */
.stock-card-link a:hover {
  color: grey;
}

/* selected link */
.stock-card-link a:active {
  color: lightgrey;
}

.stock_card {
  text-align: left;
  table-layout: fixed;
}

.stock_card td {
  padding: 10px;
}

.bold_font {
  font-style: oblique;
}

.stock-table {
  color: black;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.5em;
}

img {
  max-width:50%;
  max-height:50%;
}

.center {
  width: auto;
  margin: 0 auto;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.search-card {
  margin:10px auto;
  flex-wrap: wrap;
}
