.background {
  background: url('../assets/new-york-5.jpg') no-repeat right top fixed;
  background-size: cover;
}

#title {
  color: white;
  text-align: center;
  font-family: 'Tinos', serif;
}

#side-nav-button {
  vertical-align: middle;
  float: left;
  margin-left: 10px;
}

.sidenav-content {
  vertical-align: middle;
}

.sidenav-menu {
  height: 100vh;
  padding: 10%;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 25%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-url {
  font-size: large;
}

.center {
  width: auto;
  margin: 0 auto;
  word-wrap: break-word;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

/* unvisited link */
.sidebar-link a:link {
  color: white;
}

/* visited link */
.sidebar-link a:visited {
  color: white
}

/* mouse over link */
.sidebar-link a:hover {
  color: grey;
}

/* selected link */
.sidebar-link a:active {
  color: lightgrey;
}
