<div style="text-align: center">
  <button id="back-button" mat-mini-fab (click)="back()" color="dark">
    <i class="material-icons md-24">arrow_back</i>
  </button>

  <mat-form-field class="full-width">
    <input id="search-bar" matInput placeholder="Search for stocks"
           aria-label="Search for stocks"
           [matAutocomplete]="auto"
           [formControl]="stockCtrl"
           style="color: white">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let stock of filteredStocksSearchBar | async"
                  [value]="stock.name">
        <span>{{ stock.name }}</span> |
        <small>Symbol: {{stock.symbol}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <button id="search-button"
          mat-mini-fab (click)="search()"
          color="dark">
    <i class="material-icons md-24">search</i>
  </button>

  <div class="center">
    <div class="stock-card" *ngFor="let sqm of filteredStocks">
      <app-stock-card
        [sqm]="sqm">
      </app-stock-card>
    </div>
  </div>
</div>
