.full-width {
  color: white;
  width: 50%;
}

#search-button {
  vertical-align: middle;
}

#back-button {
  display: none;
  vertical-align: middle;
}

.stock-card {
  width:75%;
  margin:10px auto;
  flex-wrap: wrap;
}
